<div>
    <h1>Bienvenido al chat de Coder</h1>
    <div>
        <p>
            Escribe un mensaje: <input type="text" id="chatBox" />
        </p>
    </div>

    <div>
        <p id="messageLogs"></p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages.js"></script>